[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restful = "*"
flask-jwt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
pyopenssl = "*"
oauthlib = "*"
requests = "*"

[requires]
python_version = "3.8"
